---
description: how-to guide on getting verified
---

# Verification

