---
description: how-to guide on getting verified
---

# 🙋 Verification

## Page:

{% content-ref url="../pages/1.-verified/verified.md" %}
[verified.md](../pages/1.-verified/verified.md)
{% endcontent-ref %}

## Valid Criteria:

Open Info verifies individuals, projects, organizations, and businesses that have chosen to share information of themselves. This information may include, but is not limited to,

* A social account.
* Charitable Donations.
* Successful delivery of goods or services.
