---
description: how-to guide on getting verified
---

# 🙋 Verification

## Page:

{% content-ref url="../pages/verified.md" %}
[verified.md](../pages/verified.md)
{% endcontent-ref %}

## Valid Criteria:

Open Info verifies individuals, projects, organizations, and businesses that have chosen to link public information to an address. This information may include, but is not limited to,

* A social account:
  * LinkedIn,
  * Twitter, or
  * Telegram.
* A Buildspace NFT,
* charitable donations,
* Successful delivery of goods or services.

## Embedded Form

{% embed url="https://docs.google.com/forms/d/e/1FAIpQLSe2sl8CmPl3W-LVxoaDCeWM4qatdnhbmyv7v3k3AXDjZBt3yA/viewform?usp=sf_link" %}
