---
description: how-to guide on getting verified
---

# 🙋 Verification

## Page:

{% content-ref url="../user-interface/verified.md" %}
[verified.md](../user-interface/verified.md)
{% endcontent-ref %}

## How-to:

How to verify an ETH address.

## Requirements:

Open Info verifies individuals, organizations, and businesses that have met specific criteria and have proven healthy interactions with other addresses. The verification criteria include, but is not limited to, the following checks

1. A social account.
2. Successful delivery of goods or services.
3. Full KYC.
