---
description: how-to guide on getting verified
---

# 🙋 Verification

## Page:

{% content-ref url="../user-interface/verified.md" %}
[verified.md](../user-interface/verified.md)
{% endcontent-ref %}

## How-to:

How to verify an `ERC20` address.

## Requirements:

social link
