---
description: how-to guide on getting verified
---

# 🙋 Verification

## Page:

{% content-ref url="../group-1/1.-verified/verified.md" %}
[verified.md](../group-1/1.-verified/verified.md)
{% endcontent-ref %}

## Valid Criteria:

Open Info verifies individuals, organizations, and businesses that have met specific criteria and have proven healthy interactions with other addresses. The verification criteria include, but are not limited to, the following checks

* A social account.
* Donations.
* Successful delivery of goods or services.
* Full KYC.
